<div class="ui grid">
  <div class="three column row">
    <div class="column"></div>
    <div class="column">
      <h2 class="ui center aligned header">詳細</h2>
    </div>
    <div class="column ui right aligned header">
      <%= link_to "アカウント削除", user_path(@user), method: :delete, data: {confirm: "削除しますか？"}, class: "ui red button" %>
    </div>
  </div>
</div>
<div class="ui divider"></div>
<div class="ui grid">
  <div class="two column row">
    <div class="column"><h4>名前</h4></div>
    <div class="column"><%= @user.name %></div>
  </div>
  <div class="ui divider"></div>
  <div class="two column row">
    <div class="column"><h4>登録日時</h4></div>
    <div class="column"><%= l(@user.created_at) %></div>
  </div>
  <div class="ui divider"></div>
  <div class="two column row">
    <div class="column"><h4>更新日時</h4></div>
    <div class="column"><%= l(@user.updated_at)  %></div>
  </div>
</div>