<div class="ui grid">
  <div class="three column row">
    <div class="column"></div>
    <div class="column ui center aligned header"><h2>編集</h2></div>
    <div class="column"></div>
  </div>
</div>
<div class="ui divider"></div>
<%= render partial: "shared/error_messages" %>
<%= render partial: "form", locals: {board: @board} %>