.ui.container {
  margin: 30px 0 50px 0;
}

.ui.divider {
  margin: 40px 0;
}

.ui.blue {
  color: blue;
}
.ui.red {
  color:  red;
}

.ui.grid.header_nav {
  background-color: rgba(0, 0, 0, 0.397);
  margin-bottom: 30px;
}

.header_title {
  text-justify: auto;
  color: white;
  p {
    font-size: 25px;
  }
}